*{
box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 5px;
}
.navbar ul{
    background-color: hsl(0, 0%, 15%);
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 1%, 20%);
}
.navbar li{
    float: left;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: right;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}
@media screen and (max-width:600px){
    section, article{
        width: 100%;
    }

}