*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    
}

.background>img{
    height: auto;
    width: 100%;
    position: fixed;
}

.img-full{

    position: relative;
    height: 50em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-avt{
    width: 175px;
    height: 300px;
    margin-right:20px;
    margin: 100px 10px 0px 10px;

}
.img-avt>img{
    width: 175px;
    height: 250px; 
    border-radius: 15px;

}

.content{
    width: 175px;
    height: auto;
    margin-top: 20px;
    display: none;
}

.img-avt:hover > img   {
    transform: scale(1.15) translateZ(0);
    background-size: 200%;
    box-shadow: 0 0 20px rgb(255, 255, 255); /* Đây là viền sáng */
    
}

.img-avt:hover > .content{
    display: block;
}

h3 {
    font-size: 20px; /* Cỡ chữ lớn hơn */
    margin-bottom: 5px; /* Khoảng cách dưới */
    color: #fff;
}


i {
    display: inline-block; /* Hiển thị như khối để có thể tùy chỉnh kích thước */
    font-size: 20px; /* Cỡ chữ */
    color: #fff;
}
i:hover{
    color: blanchedalmond;
}
.text {
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.13);
    padding: 20px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

h4{
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    color: rgb(0, 255, 213);
    
}
.text>p{
    font-size: large ;
    color: #fff;
}
a{
    text-decoration: none;
    color: rgb(255, 205, 205);
}

